<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解中科梧桐</div>
    <div style="padding: 10px 0 20px 10px;">

        <h3>&nbsp;&nbsp;&nbsp;企业简介</h3>
        <p >北京中科梧桐网络科技有限公司拥有一支高素质、专业化的服务团队，共有员工100余名，其中拥有、律师、执业技术经纪人、软件工程师、科技评估师等资质的40余人。
            拥有国知局首批授予的全国专利信息高端实务人才1人，知识产权领军人才1人。
            北京中科梧桐网络科技有限公司构建了由100余位来自全国知名高校、科研院所的院士、教授等组成的专家团队，专业领域覆盖电子信息、生物医药、先进制造、新能源等各个行业，为企业提供技术评价、技术咨询服务。
            此外，中科梧桐与科技部生产力促进中心协会、工信部人才交流中心达成了联合建立人才数据库的协议，每年计划为行业培养技术创新创业方面的高端人才100余名。</p>
        <!--<ul>
            <li>面向学习型的开源框架，简洁高效，减少过渡封装，展现技术本质</li>
            <li>Springboot作为基础框架，使用mybatis作为持久层框架</li>
            <li>使用官方推荐的thymeleaf做为模板引擎，shiro作为安全框架,主流技术，“一网打尽”</li>
            <li>极简配置，一键前后台代码生成</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
        <ul>
            <li>Github地址：<a href="https://github.com/lcg0124/bootdo.git" th:href="@{https://github.com/lcg0124/bootdo.git}" target="_blank">https://github.com/lcg0124/bootdo.git</a></li>
            <li>Oschina地址：<a href="https://gitee.com/lcg0124/bootdo.git" target="_blank">https://gitee.com/lcg0124/bootdo.git</a></li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;官方QQ群</h3>
        <ul>
            <li>点击链接加入群【BootDo交流群】：<a href="https://jq.qq.com/?_wv=1027&k=5EYXfiZ">669039323(满)</a></li>
            <li>点击链接加入群聊【BootDo交流二群】：<a href="https://jq.qq.com/?_wv=1027&k=5M659N4">614726589</a></li>
        </ul>-->
    </div>
</div>
</body>
</html>